// valign

.valign {
  display: table;
  height: 100%;

  // centered

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }

  // expanded

  &--expanded {
    @include expand;
  }

  // fixed

  &--fixed {
    table-layout: fixed;
  }

  // cell

  &__cell {
    @include table-cell;
  }
}
